# 1Q

In [1]:
n=12
print('the amount per an hour is {}$'.format(n))
total=n*37
print('the amount pays for 37hr work is {}$'.format(total))

the amount per an hour is 12$
the amount pays for 37hr work is 444$

# 2Q

In [5]:
n1=eval(input('enter how many hours you worked:'))
n2=eval(input('enter how much money you get for 1hr:'))
total=n1*n2
print('the amount for your work is {}$'.format(total),
      '.',sep='')

enter how many hours you worked:37
enter how much money you get for 1hr:12
the amount for your work is 444$.

# 3Q

In [10]:
n1=eval(input('enter your Quiz 1 marks out of 20/'))
n2=eval(input('enter your Quiz 2 marks marks out of 20/'))
n3=eval(input('enter your class test marks marks out of 50/'))
n4=eval(input('enter your assignment marks marks out of 100/'))
n5=eval(input('enter your project marks marks out of 200/'))
sum=n1+n2+n3+n4+n5
average=sum/5
print('your total overall marks for the academics is {}'.format(average))

enter your Quiz 1 marks out of 20/13
enter your Quiz 2 marks marks out of 20/16
enter your class test marks marks out of 50/49
enter your assignment marks marks out of 100/60
enter your project marks marks out of 200/136
your total overall marks for the academics is 54.8

# 4Q

In [1]:
n=int(input('Enter the number:'))
dig=n
i=0
while n>0:
    dig=n%10
    i+=dig
    n//=10
print('Sum of the digits=',i)

Enter the number:12345
Sum of the digits= 15

# 5Q

In [6]:
n=eval(input('enter the five digit number:'))
dig=n
i=1
while n<0:
    dig=n+1
    i=i+1
print('addition of the number:',i)

enter the five digit number:12345
addition of the number: 1

# 6Q

In [19]:
n1=eval(input('enter your Quiz 1 marks out of 20/'))
n2=eval(input('enter your Quiz 2 marks marks out of 20/'))
n3=eval(input('enter your class test marks marks out of 50/'))
n4=eval(input('enter your assignment marks marks out of 100/'))
n5=eval(input('enter your project marks marks out of 200/'))
sum=n1+n2+n3+n4+n5
average=sum/5
print('your total overall marks for the academics is {}'.format(average))
if average>=60:
    print('first class')
elif average>=40:
    print('second class')
else:
    print('fail')

enter your Quiz 1 marks out of 20/13
enter your Quiz 2 marks marks out of 20/15
enter your class test marks marks out of 50/40
enter your assignment marks marks out of 100/60
enter your project marks marks out of 200/156
your total overall marks for the academics is 56.8
second class

# 7Q

In [4]:
n1=eval(input('enter how many hours you worked:'))
n2=eval(input('enter how much money you get for 1hr:'))
total=n1*n2
print('the amount for your work is {}$'.format(total))

enter how many hours you worked:37
enter how much money you get for 1hr:12
the amount for your work is 444$

# 8Q

In [13]:
try:
    n1=eval(input('enter how many hours you worked:'))
    n2=eval(input('enter how much money you get for 1hr:'))
    total=n1*n2
    print('the amount for your work is {}$'.format(total))
except Exception as e:
    print(e)
    print('Error,please enter numeric input')

enter how many hours you worked:37
enter how much money you get for 1hr:nine
name 'nine' is not defined
Error,please enter numeric input

# 9Q

In [19]:
n=eval(input('enter a legth in centimeters:'))
if n<=0:
    print('entry is invalid')
elif n>=0:
    total=round(n*0.393701)
    print('the given lenth in inch is',total)

enter a legth in centimeters:10
the given lenth in inch is 4

# 10Q

In [49]:
n=eval(input('enter the temperature number:'))
def celsius():
    F=(n*9/5) + 32 
    print('the converted temperature from celsius to Fahrenheite is',F)
celsius() 
def Fahrenheite():
    C=(n-32)*5/9 
    print('the converted temperature from fahrenheite to celsius is',C)
Fahrenheite()

enter the temperature number:50
the converted temperature from celsius to Fahrenheite is 122.0
the converted temperature from fahrenheite to celsius is 10.0

# 11Q

In [58]:
n=eval(input('enter the temperature in celsius:'))
if n<=-273.15:
    print('the temperature is invalid because it is below absolute zero')
elif n==-273.15:
    print('the temperature is absolute 0')
elif n>-273.15 and n<0:
    print('the temperature is below freezing')
elif n==0:
    print('the temperature is at freezing point')
elif n>0 and n<100:
    print('the temperature is in the normal range')
elif n==100:
    print('the temperature is at boiling point')
else:
    print('the temperature is above the boiling point')

enter the temperature in celsius:100
the temperature is at boiling point

# Q12

In [59]:
n=eval(input('how many credits you have taken:'))
if n<=23:
    print('you are a freshman')
elif n>24 and n<54:
    print('you are a sophomore')
elif n>54 and n<84:
    print('you are a senior')

how many credits you have taken:50
you are a sophomore

# Q13

In [110]:
import random
import time
n=random.randint(1,10)
print(n)
start=time.time()
n1=eval(input('guess the number:'))
if n==n1:
    print('you got this!')
else:
    print('you lost the game')
    print('better luck next time!')
end=time.time()
print('time taken to crack the answer',end-start)

10
guess the number:10
you got this!
time taken to crack the answer 1.4359748363494873

# Q14

In [117]:
n=eval(input('how many items you are buying:'))
if n<=10:
    t1=n*12
    print('your charges are 12$ per item and your total charges are {}$'.format(t1))
elif n>10 and n<99:
    t2=n*10
    print('your charges are 10$ per item and your total charges are {}$'.format(t2))
elif n>=100:
    t3=n*7
    print('your charges are 7$ per item and your total charges are {}$'.format(t3))

how many items you are buying:10
your charges are 12$ per item and your total charges are 120$

# Q15

In [125]:
n1=eval(input('enter a number:'))
n2=eval(input('enter a number:'))
a=0
if n1>n2:
    a=n1-n2
else:
    a=n2-n1
if a<=0.001:
    print('close')
else:
    print('not close')

enter a number:10
enter a number:11
not close

# Q16

In [142]:
n=eval(input('enter a year:'))
def leap_year():
    if n%4==0:
        print('its a leap year')
    elif n%100==0:
        print('its not a leap year')
    elif n%400==0:
        print('its a leap year')
    else:
        print('its not a leap year')
leap_year()

enter a year:4012
its a leap year

# Q17

In [2]:
n=eval(input('enter a number:'))
n2=n%n
print(n2)

enter a number:3
1

# Q18

In [6]:
n1=eval(input('enter the time betwenn 1 and 24:'))
n2=input('enter am or pm:')
n3=eval(input('enter how many hrs you want go further:'))
if n2>1 and n2<12:
    n=n1-n3
    print('new hours is {}{}'.format(n,n2))
elif n2>12 and n2<24:
    p=n1-n3
    print('new hour is {}{}'.format(p,n2))

enter the time betwenn 1 and 24:1
enter am or pm:am
enter how many hrs you want go further:3

TypeError: '>' not supported between instances of 'str' and 'int'