# 1. without arguments

In [ ]:
def square():
    try:
        n1=eval(input('enter a number:'))
        total=n1*n1
        print('the square of {} is {}'.format(n1,total),
             '.',sep='')
    except Exceptions as e:
        print(e)    
    return(total)

In [ ]:
square()

In [ ]:
number_of_5=square()
print(number_of_5)

# with arguments

In [ ]:
def square(n1):
    try:
        total=n1*n1
        print('the square of {} is {}'.format(n1,total),
             '.',sep='')
    except Exceptions as e:
        print(e)    
    return(total) 

square(5)

In [ ]:
number=square(5)
print(number)

# default argumnet

In [ ]:
def square(n1=5):
    try:
        total=n1*n1
        print('the square of {} is {}'.format(n1,total),
             '.',sep='')
    except Exceptions as e:
        print(e)    
    return(total) 

square(n1=5)

In [ ]:
number=square(n1=5)
print(number)

# 2.without arguments

In [ ]:
def _squares():
    try:
        n1=eval(input('enter a number:'))
        print(n1,n1*2,n1*3,n1*4,sep='---')
    except Exceptions as e:
        print(e)
    return(n1)    

_squares()

In [ ]:
squares=_squares()
print(squares)

# with arguments

In [ ]:
def _squares(n1):
    try:
        print(n1,n1*2,n1*3,n1*4,sep='---')
    except Exceptions as e:
        print(e)
    return(n1)    

_squares(7)

In [ ]:
squares=_squares(7)
print(squares)

# default argument

In [ ]:
def _squares(n1=7):
    try:
        print(n1,n1*2,n1*3,n1*4,sep='---')
    except Exceptions as e:
        print(e)
    return(n1)    

_squares(n1=7)

In [ ]:
squares=_squares(n1=7)
print(squares)

# 3.without arguments

In [ ]:
def kilograms():
    try:
        weight=eval(input('enter your weight in km:'))
        pounds=round(2.2*weight)
        print('weights in pounds:',pounds)
    except Exceptions as e:
        print(e)
    return(pounds)    
kilograms()

In [ ]:
_kilograms=kilograms()
print(_kilograms)

# with arguments

In [ ]:
def kilograms(weight):
    try:
        pounds=round(2.2*weight)
        print('weights in pounds:',pounds)
    except Exceptions as e:
        print(e)
    return(pounds)    
kilograms(7)

In [ ]:
_kilograms=kilograms(7)
print(_kilograms)

# default argument

In [ ]:
def kilograms(weight=7):
    try:
        pounds=round(2.2*weight)
        print('weights in pounds:',pounds)
    except Exceptions as e:
        print(e)
    return(pounds)    
kilograms(weight=7)

In [ ]:
_kilograms=kilograms(weight=7)
print(_kilograms)

# 4.without arguments

In [ ]:
def avg():
    try:
        n1=eval(input('enter first numbers:'))
        n2=eval(input('enter second numbers:'))
        n3=eval(input('enter third numbers:'))
        total=n1+n2+n3
        avg=round(total/3)
        print('{},{} and {} sum is {} and avg is {}'.format(n1,n2,n3,total,avg))
    except Exceptions as e:
        print(e)
    return(total)    

avg()

In [ ]:
average=avg()
print(average)

# with arguments

In [ ]:
def avg(n1,n2,n3):
    try:
        total=n1+n2+n3
        avg=round(total/3)
        print('{},{} and {} sum is {} and avg is {}'.format(n1,n2,n3,sum,avg))
    except Exceptions as e:
        print(e)
    return(total)    

avg(3,6,9)

In [ ]:
average=avg(3,6,9)
print(average)

# default argument

In [ ]:
def avg(n1,n2,n3=9):
    try:
        total=n1+n2+n3
        avg=round(total/3)
        print('{},{} and {} sum is {} and avg is {}'.format(n1,n2,n3,sum,avg))
    except Exceptions as e:
        print(e)
    return(total)    

avg(3,6)

In [ ]:
average=avg(3,6)
print(average)

# 5.without arguments

In [ ]:
def total_bill():
    try:
        meal=eval(input('price of the meal:'))
        tip=eval(input('tip you want to leave:'))
        total=meal+tip
        print('the total meal amount is {} tip amount is {} total cost is {}'.format(meal,tip,total))
    except Exceptions as e:
        print(e)
    return(total)

total_bill()

In [ ]:
total=total_bill()
print(total)

# with arguments

In [ ]:
def total_bill(meal,tip):
    try:
        total=meal+tip
        print('the total meal amount is {} tip amount is {} total cost is {}'.format(meal,tip,total))
    except Exceptions as e:
        print(e)
    return(total)

total_bill(5000,50)

In [ ]:
total=total_bill(5000,50)
print(total)

# default argument

In [ ]:
def total_bill(meal,tip=50):
    try:
        total=meal+tip
        print('the total meal amount is {} tip amount is {} total cost is {}'.format(meal,tip,total))
    except Exceptions as e:
        print(e)
    return(total)

total_bill(5000)

In [ ]:
total=total_bill(5000)
print(total)

# 6.without arguments

In [ ]:
def ramesh():
    try:
        name=input('enter your name:')
        n1=eval(input('enter your basic salary:'))
        basicsalary=40
        basicsalary=round((n1*basicsalary/100),2)
        print('monthly basic salary is :{}'.format(basicsalary))
        hra=20
        HRA=round((n1*hra/100),2)
        print('HRA is:{}'.format(HRA))
        grossal=round((n1+basicsalary+HRA),2)
        print('your gross salary is {}'.format(grossal))
    except Exception as e:
        print(e)
    return(grossal)

ramesh()

In [ ]:
ramesh_salary=ramesh()
print(ramesh_salary)

# with argument

In [ ]:
def ramesh(n1):
    try:
        input('enter your name:')
        basicsalary=40
        basicsalary=round((n1*basicsalary/100),2)
        print('monthly basic salary is :{}'.format(basicsalary))
        hra=20
        HRA=round((n1*hra/100),2)
        print('HRA is:{}'.format(HRA))
        grossal=round((n1+basicsalary+HRA),2)
        print('your gross salary is {}'.format(grossal))
    except Exception as e:
        print(e)
    return(grossal)

ramesh(20000)

In [ ]:
ramesh_salary=ramesh(20000)
print(ramesh_salary)

# default argument

In [ ]:
def ramesh(n1=20000):
    try:
        input('enter your name:')
        basicsalary=40
        basicsalary=round((n1*basicsalary/100),2)
        print('monthly basic salary is :{}'.format(basicsalary))
        hra=20
        HRA=round((n1*hra/100),2)
        print('HRA is:{}'.format(HRA))
        grossal=round((n1+basicsalary+HRA),2)
        print('your gross salary is {}'.format(grossal))
    except Exception as e:
        print(e)
    return(grossal)

ramesh(n1=20000)

In [ ]:
ramesh_salary=ramesh(n1=20000)
print(ramesh_salary)

# 7.without argument

In [ ]:
def distance():
    try :
        n1=eval(input('enter the distance of one end in km:'))
        n2=eval(input('enter the distance of other end in km:'))        
        n3=n1*1000+n2*1000
        n4=round(n1*3280.84+n2*3280.82)
        n5=round(n1*39370.1+n2*39370.1)
        n6=n1*100000+n2*100000
        print('lenght of the distance in meters',n3)
        print('lenght of the distance in feet',n4)
        print('lenght of the distance in inches',n5)
        print('lenght of the distance in centimeters',n6)
    except exception as e:
        print(e)    
    return(n5)

distance()

In [ ]:
distance_of_two_ends=distance()
print(distance_of_two_ends)

# with aguments

In [ ]:
def distance(n1,n2):
    try :
        n3=n1*1000+n2*1000
        n4=round(n1*3280.84+n2*3280.82)
        n5=round(n1*39370.1+n2*39370.1)
        n6=n1*100000+n2*100000
        print('lenght of the distance in meters',n3)
        print('lenght of the distance in feet',n4)
        print('lenght of the distance in inches',n5)
        print('lenght of the distance in centimeters',n6)
    except exception as e:
        print(e)    
    return(n5)

distance(6,3)

In [ ]:
distance_of_two_ends=distance(6,3)
print(distance_of_two_ends)

# default argument

In [ ]:
def distance(n1,n2=10):
    try :
        n3=n1*1000+n2*1000
        n4=round(n1*3280.84+n2*3280.82)
        n5=round(n1*39370.1+n2*39370.1)
        n6=n1*100000+n2*100000
        print('lenght of the distance in meters',n3)
        print('lenght of the distance in feet',n4)
        print('lenght of the distance in inches',n5)
        print('lenght of the distance in centimeters',n6)
    except exception as e:
        print(e)    
    return(n5)

distance(6)

In [ ]:
distance_of_two_ends=distance(6)
print(distance_of_two_ends)

# 8.without argument

In [ ]:
def temperature():
    try:
        n1=eval(input('enter the temperature in F:'))
        centigrade=round((n1-32)*5/9)
        print(centigrade)
    except Exceptions as e:
        print(e)
    return(centigrade)
temperature()

In [ ]:
temp=temperature()
print(temp)

# with argument

In [ ]:
def temperature(n1):
    try:
        centigrade=round((n1-32)*5/9)
        print(centigrade)
    except Exceptions as e:
        print(e)
    return(centigrade)

temperature(160)

In [ ]:
temp=temperature(180)
print(temp)

# default argument

In [ ]:
def temperature(n1=99):
    try:
        centigrade=round((n1-32)*5/9)
        print(centigrade)
    except Exceptions as e:
        print(e)
    return(centigrade)

temperature(n1=99)

In [ ]:
temp=temperature(n1=99)
print(temp)

# 9.without argument

In [ ]:
def area_perimeter():
    try:
        l=eval(input('enter the length of the rectangel:'))
        b=eval(input('enter the breath of the rectangle:'))
        c=eval(input('enter the radius of the circle:'))
        a1=round(l*b)
        p1=round(2*l+b)
        a2=round(22/7*c*c)
        c2=round(2*22/7*c)
        print('the area of the rectange is {}'.format(a1), 
              '.',sep='')
        print('the perimeter of the rectangle is {}'.format(p1),
             '.',sep='')
        print('the area of the cirlce is {}'.format(a2),
              '.',sep='')
        print('circumference of the circle is {}'.format(c2),
              '.',sep='')
    except Exceptions as e:
        print(e)
    return(c2)

area_perimeter()

In [ ]:
area_and_perimeter=area_perimeter()
print(area_and_perimeter)

# with argument

In [ ]:
def area_perimeter(l,b,c):
    try:
        a1=round(l*b)
        p1=round(2*l+b)
        a2=round(22/7*c*c)
        c2=round(2*22/7*c)
        print('the area of the rectange is {}'.format(a1), 
              '.',sep='')
        print('the perimeter of the rectangle is {}'.format(p1),
             '.',sep='')
        print('the area of the cirlce is {}'.format(a2),
              '.',sep='')
        print('circumference of the circle is {}'.format(c2),
              '.',sep='')
    except Exceptions as e:
        print(e)
    return(c2)

area_perimeter(4,7,6)

In [ ]:
area_and_perimeter=area_perimeter(4,7,6)
print(area_and_perimeter)

# default argument

In [ ]:
def area_perimeter(l,b,c=7):
    try:
        a1=round(l*b)
        p1=round(2*l+b)
        a2=round(22/7*c*c)
        c2=round(2*22/7*c)
        print('the area of the rectange is {}'.format(a1), 
              '.',sep='')
        print('the perimeter of the rectangle is {}'.format(p1),
             '.',sep='')
        print('the area of the cirlce is {}'.format(a2),
              '.',sep='')
        print('circumference of the circle is {}'.format(c2),
              '.',sep='')
    except Exceptions as e:
        print(e)
    return(c2)

area_perimeter(4,7)

In [ ]:
area_and_perimeter=area_perimeter(4,7)
print(area_and_perimeter)

# 10.without argument

In [ ]:
def location():
    try:
        C=eval(input('enter a number:'))
        D=eval(input('enter a number:'))
        C,D=D,C
        print('C=',C,'D=',D)
    except Exceptions as e:
        print(e)
    return(D)

location()

In [ ]:
location1=location()
print(location1)

# with argument

In [ ]:
def location(C,D):
    try:
        C,D=D,C
        print('C=',C,'D=',D)
    except Exceptions as e:
        print(e)
    return(D)

location(4,7)

In [ ]:
location1=location(4,7)
print(location1)

# default argument

In [ ]:
def location(C,D=7):
    try:
        C,D=D,C
        print('C=',C,'D=',D)
    except Exceptions as e:
        print(e)
    return(D)

location(5)

In [ ]:
location1=location(5)
print(location1)

# 11.without argument

In [3]:
 def marks():
    try:
        n1=eval(input('enter english marks:'))
        n2=eval(input('enter telugu marks:'))
        n3=eval(input('enter hindi marks:'))
        n4=eval(input('enter maths marks:'))
        n5=eval(input('enter science marks:'))
        aggregate_marks=n1+n2+n3+n4+n5
        percentage=(aggregate_marks)/5
        print('the aggregate marks is {}\n the percentagemarks of the student is {}'.format(aggregate_marks,percentage))
    except Exceptions as e:
        print(e)
    return(percentage)

marks()

enter english marks:60
enter telugu marks:50
enter hindi marks:40
enter maths marks:60
enter science marks:50
the aggregate marks is 260
 the percentagemarks of the student is 52.0

52.0

In [5]:
marks_obtained=marks()
print(marks_obtained)

enter english marks:60
enter telugu marks:50
enter hindi marks:40
enter maths marks:60
enter science marks:50
the aggregate marks is 260
 the percentagemarks of the student is 52.0
52.0

# with argument

In [7]:
def marks(n1,n2,n3,n4,n5):
    try:
        aggregate_marks=n1+n2+n3+n4+n5
        percentage=(aggregate_marks)/5
        print('the aggregate marks is {}\n the percentagemarks of the student is {}'.format(aggregate_marks,percentage))
    except Exceptions as e:
        print(e)
    return(percentage)

marks(60,70,80,60,60)

the aggregate marks is 330
 the percentagemarks of the student is 66.0

66.0

In [8]:
marks_obtained=marks(60,70,80,60,60)
print(marks_obtained)

the aggregate marks is 330
 the percentagemarks of the student is 66.0
66.0

# default argument

In [9]:
def marks(n1,n2,n3,n4,n5=60):
    try:
        aggregate_marks=n1+n2+n3+n4+n5
        percentage=(aggregate_marks)/5
        print('the aggregate marks is {}\n the percentagemarks of the student is {}'.format(aggregate_marks,percentage))
    except Exceptions as e:
        print(e)
    return(percentage)

marks(60,70,80,60)

the aggregate marks is 330
 the percentagemarks of the student is 66.0

66.0

In [10]:
marks_obtained=marks(60,70,80,60)
print(marks_obtained)

the aggregate marks is 330
 the percentagemarks of the student is 66.0
66.0

# 12.without argument

In [ ]:
town_population =80000
print('the total population of the town is',town_population)
total_men_populations=52
men_population=(town_population*total_men_population)/100
print('the total men population is',men_population)
women_population=town_population-men_population
print('the total women population is',women_population)
men_literated=35
total_literated=48
women_literated=total_literated-men_literated
men_literated=men_population*men_literated/100
print('the men lite')