first we need to know about the shortcuts those are
shift+tap=it will shows the content when you move the curser to the print part 
tap=will either provide long space or it can be used for the keywords to identified

# basic

In [1]:
string ="""integer : int
float : float
string : str
complex : complex"""
print(string)

integer : int
float : float
string : str
complex : complex

# string

In [ ]:
name1=  """hi
           how are you""" 
print(name1)

hi
           how are you

# complex conjugate

In [3]:
complex()

0j

In [4]:
0+0j
#the default argument will use real=0 and img=0sp 0+0j=0j

0j

In [ ]:
num=3+10j
num

In [ ]:
type(num)

In [ ]:
num.real

In [ ]:
num.imag

# data type conversion

In [ ]:
number=100
type(number)

In [ ]:
number=10.0
type(number)

In [ ]:
w="string"
type(w)

In [ ]:
bool(number)

In [ ]:
bool(200)
bool(300)

In [ ]:
bool(-200)

In [ ]:
bool(0)

In [ ]:
# int to complex
a=200
complex(a)

In [ ]:
a=200
b=300
complex(a,b)

In [ ]:
a=0
b=300
complex(a,b)

In [ ]:
complex(0,300)

In [ ]:
#int to float
#int to str
#int to bool
#int to complex

In [ ]:
number=(10.7)
number

In [ ]:
int_number=int(number)
int_number

In [ ]:
#floa to str
str(number)

In [ ]:
#float to bool
bool(number)

In [ ]:
#float to complexa
complex(number)

In [ ]:
string=('python')
int(string)
bool(string)
float(string)
complex(string)

In [ ]:
#when will be the bool will be false 
#when it is 0 it is false
#when it is empty string it is false
#these are under bool type

In [ ]:
string='10+20j'
int(string)

In [ ]:
float(string)

In [ ]:
bool(string)

In [ ]:
complex(string)

matha====maths
english====english
maths+english====eglish

complex to other data types

In [ ]:
complex_number=10+20j
int(complex)

In [ ]:
float(complex)

In [ ]:
bool(complex)

In [ ]:
complex(complex)

$print$

In [ ]:
# a small cosde to print number and string
print('hi how are you')
a=20
b=30
print(a,b)

In [ ]:
#the value of num1 is 30
num1=30
print('the value of num1 is',num1)
print('the value of num1 is 30')

In [ ]:
#the value of num1 is : 30
print('the value of num1 is :',num1)

# i want to combine multiple statemets for this we need to use end operator

# end

In [ ]:
print('hi',end='')
print('how are you')
print('hi',end=' ')
print('how are you')
print('hi',end='---->')
print('how are you')
print('hi',end='@')
print('how are you')

In [ ]:
print('hi',end=' ')
print('how',end=' ')
print('are',end=' ')
print('you',end=' ')

In [ ]:
num1=100
num2=500
add=num1+num2
add
#show this 
#the addition of 100 and 500 is 600

In [ ]:
print('the addition of 100 and 500 is',add)

In [ ]:
a=20
b=30
mul=a*b
#the multiplication of 20 and 30 is 600
print('the multiplication of',a,'and',b,'is',mul)
print('the multiplication of 20 and 30 is',mul)
#correct way to clear this mess
print('the multiplication of {} and {} is{}'.format(a,b,mul))

In [ ]:
num1=100
num2=200
add=num1+num2
#the addtition of 100 and 200 is 300
print('the addition of {} and {} is {}'.format(num1,num2,add))

In [ ]:
name='python'
city='hyd'
age='30'
#my name is python, i leave in hyd, and my age is 30
print('my name is {}, i leave in {}, my age is {}'.format(name,city,age))

In [ ]:
num1=100
num2=200
add=num1+num2
print('the addition of {} and {} is {}'.format(num1,num2,add))

In [ ]:
#write a program ask the user enter a number by using keyboard

$input$

In [ ]:
input('enter a number:')

In [ ]:
input('enter a name:')

In [ ]:
num1=100
num2=200
add=num1+num2
print('the addition of {} is {}'.format(num1,num2,add))

# format
num1=input('enter a number:')
num2=input('enter a number:')
add=num1+num2
print('the addition of {},{} is {}'.format(num1,num2,add))

# eval keyword

In [ ]:
#eval means evaluation it only work for numbers 
#eval work for either int or float

In [ ]:
n1=int(input('enter n1:'))
n2=float(input('enter n2:'))
n1+n2

In [ ]:
#eval keyword will work under the conditions where we can enter float value in place of int 
n1=eval(input('enter n1:'))
n2=eval(input('enter n2:'))
n1+n2

In [ ]:
#write a prgm of a user enter 2 numbers
#output:n1=from user 100
#n2=from keyboard 200
#the addition of 100 and 200 is 300
#the subtraction of 100 and 200 is -100
#the addition of n1 and n2 is

In [ ]:
n1=eval(input('enter a number:'))
n2=eval(input('enter a number:'))
add=n1+n2
sub=n1-n2
mul=n1*n2
print('the addition of {} and {} is {}'.format(n1,n2,add))
print('the substraction of {} and {} is {}'.format(n1,n2,sub))
print('the multiplication of {} and {} is {}'.format(n1,n2,mul))

In [ ]:
#avergae 
n1=eval(input('enter a number:'))
n2=eval(input('enter a number:'))
n3=eval(input('enter a number:'))
avg=(n1+n2+n3/3)
final_avg=round(avg,2)
print('the original value:',avg)
print('the avgerage of {},{} and {} is {}'.format(n1,n2,n3,final_avg))

In [ ]:
12/5=2.4 #division will provide normal division value
12%5=2  #modulus it will provide reminder
12//5=2 #floor division it will provide qutioent

In [ ]:
bill_amount=eval(input('enter the bill:'))
tip_amount=eval(input('enter the tip:'))
total_amount=bill_amount+tip_amount
print('the total amount is :',total_amount)

In [ ]:
bill_amount=eval(input('enter the bill:'))
tip_per=eval(input('enter the tip:'))
tip_amonut=(bill_amount*tip_per)/100
total=bill_amount+tip_amount
print('total bill is :',total)

In [ ]:
n1=eval(input('how may dollars you want to pay'))
print('no dollars are not accepted')
print('then what will accepted')
print('only indian ruppes')
n2=eval(input('one dollar equal to how many indian ruppes'))
amount=n1*n2
print('the toatl amount to pay{}'.format(amount))

# separator operator

In [ ]:
#saperator method 
print('hi','hello',sep='&')

In [ ]:
print('hello','puthon','excited',sep='--->')

In [ ]:
n1=eval(input('enter the distance in km:'))
n2=eval(input('enter a fare in rs:'))
total = n1*n2
print('for {}km the fare is {}rs.'.format(n1,total))

In [ ]:
n1=eval(input('enter the distance in km:'))
n2=eval(input('enter a fare in rs:'))
total=n1*n2
print('for {}km the fare is {}rs'.format(n1,total),
      '.',sep='')
#dot is too far

In [ ]:
# n1=eval(input('enter a number:'))
total=n1*n1
print('the square of {} is {}'.format(n1,total),
     '.',sep='')

# exception handling

In [ ]:
#try and except # are the keywords thwy both are in green color
#python complies step by step 
#suppose u got any error it wont complie the rest of the lines
#we will use this in case the line dosent play a great role in the entire code
#then we will use this exception handling
#entire code should implement under try block
#what ever the error comes in the code will display under except block
#NOTE
#indentation is nothing but the space we get when we write any keyword

In [ ]:
#while writing this keyword we need to write it under the keyword if not it wont work

In [ ]:
try:
    n1=eval(input('enter a number:'))
    n2=100
    add=n1+n2
    print(add)
except:
    print('error coming look at the syntax')
    
#when error is in code,then except block will print

In [ ]:
try:
    n1=eval(input('enter a number:'))
    n2=100
    add=n1+n2
    print(add)
except:
    print('error coming look at the syntax')

In [ ]:
try:
    n1=eval(input('enter a number:'))
    n2=100
    add=n1+n2
    print(add)
except:
    print('error coming look at the syntax')

In [ ]:
n1=eval(input('enter a number:'))
n2=100
add n1/n2
print(add)

#name error: when we enter any name
#syntax error: if we miss the value
#value error: 

#we need to display error to satify the client

In [ ]:
#correct way to represt the error and it shows the error 
# as e meas alias

In [ ]:
try:
    n1=eval(input('enter a number:'))
    n2=0
    add=n1/n2
    print(add)
except Exception as e:
    print(e) # it will show the error

In [ ]:
try :
    n1=int(input('enter n1:'))
    n2=float(input('enter n2:'))
    n1+n2
except Exception as e:
    print(e)

In [ ]:
try :
    string='10+20j'
    int(string)
except Exception as e:
    print(e)

In [ ]:
try :
    float(string)
except Exception as e:
    print(e)

In [ ]:
try :
    n1=eval(input('enter a number:'))
    total=n1*n1
    print('the square of {} is {}'.format(n1,total),
    '.',sep='')
except Exception as e:
    print(e)

In [ ]:
try :
    n1=eval(input('enter a number:'))
    print(n1,n1*2,n1*3,n1*4,sep='---')
except Exception as e:
    print(e)

In [ ]:
try :
    weight=eval(input('enter your weight in km:'))
    pounds=2.2*weight
    print('weights in pounds:',pounds)
except exception as e:
    print(e)

In [ ]:
try:
    n1=eval(input('enter first numbers:'))
    n2=eval(input('enter second numbers:'))
    n3=eval(input('enter third numbers:'))
    sum=n1+n2+n3
    avg=round(sum/3)
    print('enter {},{} and {} sum is {} and avg is {}'.format(n1,n2,n3,sum,avg))
except exception as e:
    print(e)

In [ ]:
#ak the user two numbers and ass those numbers
n1=100
n2=200
add=n1+n2
print(add)

#WAP ask the user number from keyboard and add those numbers
n1=eval(input('enter a number:'))
n2=eval(input('enter a number:'))
add=n1+n2
print(add)

#WAP ask the user to get two random integer numbers and add those numbers
import random
n1=random.randint(1,100)
n2=random.randint(1,200)
add=n1+n2
print(add)

# random package

In [ ]:
import random
n1=random.randint(1,100)
n2=random.randint(1,200)
add=n1+n2
print(add)

# format for help keyword

In [ ]:
import <package_name>
dir(<package_name>)
help(<package_name>).method

# directory function

In [ ]:
import random
dir(random)

In [ ]:
import random
n1=random.randint(1,100)#shift + tab
print('number is:',n1)
n2=random.randint(1,200)
print('number is:',n2)
add=n1+n2
print(add)

In [ ]:
#pip freeze will say that what are the packages are there in my pc

# help function

In [ ]:
help(random.randrange)

In [ ]:
random.randrange(0,100,step=5)
#start with 100 and after we can get any value
#101, 102
#100 means 100 values start from 0
#step is used to divide the stpes 
#ex : 0,5,10,15,20,25,30....

# python session conditional statement

#what is meat by condition in english
#suppose if some thing is happend in one direction so that is the slution 
#if not is hapend in different direction so that another one is solution 
#else is happend in different direction so that another one is slo'n

if
if not =======else

yes or no
if ====== yes
else====== no

syntax
whenever the colon is there indentation will come

if  <condition>:
    #st1
    #st2
    #st3

name='python'
    storing
name=='python'
    comparing the value

# if condition

In [ ]:
name= input('enter a name:')#st1: ask the user to enter name
if name=='python':  #st2:python == python
    print('hello')  #st3: hello

In [ ]:
'anil'=='python'

In [ ]:
'python'=='python'

In [ ]:
#if <true/false>
#if true might happen or false might happen

In [ ]:
name=input('enter a nmae:') #st1: ask the user to enter a name
if name=='python':          #st2: if 'python' is true then enter 
        print('hello')      #st3: inside the if block
        print(name)         #st4: name alse inside the if block

In [ ]:
#################it is one block
name=input('enter a nmae:')  #st1: name ='python'
#################
#this is my home        #p'python=='python'
if name=='python':     #i will print hello  , i printed so i cam out 
        print('hello')     
#it is neighbour home
print(name)      #print(nema)=python

In [ ]:
#################it is one block
name='p'  #st1: name ='p'
##################this is my home        
if name=='python':      #'p'=='python'  false
        print('hello')  #no permission    
#################it is neighbour home
print(name)

In [ ]:
name='python'        #st1:enter the name
if name=='python':   #st2:if python== python
    print(3+5)       #st3:8
else:                #whenever if true, else will not work
    print('enter correct one')

# else condition

In [ ]:
name='p'        #st1:enter the name
if name=='python':   #st2:if python== python
    print(3+5)       #st3:8
else:                #whenever if true, else will not work
    print('enter correct one')

In [ ]:
name=input('enter a name:')
if name=='python':
    print('hello',name)
    print('how are you')
else:
    print('provide a valid one')
    print('your are out')
print('hey',end=' ') #end is used for combing two values
print('bro')

# try and exception

In [ ]:
try:
    n1=eval(input('ente a number: '))
    if n1%2==0:
        print('it is an even number') #print cannot be written in the same line 
    else:
        print('it is an odd numbe')
except Exception as e: #here e should be always capital if not it wont work
    print(e)

# by using package

# writing a code in + or -  values

In [ ]:
n=eval(input('enter a number:'))
if n>=0:
    print('it is a positive number')
else:
    print('it is a negative number')

In [ ]:
try:
    n=eval(input('enter a number:'))
    if n>=0:
        print('it is a positive number')
    else:
        print('it is a negative number')
except Exception as e:
    print(e)

In [ ]:
import random
n=random.randint(-100,100)
if n>=0:
    print('{} is a positive number'.format(n))
else:
    print('{} is a negative number'.format(n))

In [ ]:
# 0 is a positive number
#if a number >0===== it is a positive number
#if anumber <0===== is is a negative 
#if a number ===0 it is a zero


#when we have 3 coditons we will write 'if elif else'
#if<comdition>   >0
#elif <condition> <0
#else :    ====0

In [ ]:
n=random.randint(-100,100)
if n>0:
    print('{} is a positive number'.format(n))
elif n<0:
    print('{} is a negative number'.format(n))
else:
    print('{} is a zero')

In [ ]:
try:
    n=random.randint(-100,100)
    if n>0:
        print('{} is a positive number'.format(n))
    elif n<0:
        print('{} is a negative number'.format(n))
    else:
        print('{} is a zero')
except Exception as e:
    print(e)

In [ ]:
n=eval(input('enter anumber:'))
if n==1:
    print('one')
elif n==2:
    print('two')
elif n==3:
    print('three')
elif n==4: 
    print('four')
else:
    print('enter only 1,2,3,4')

In [ ]:
n=eval(input('enter the distance:'))
if n<=2:
    print('the fair is 20rs')
elif n<=4:
    print('the fair is 40rs')
elif n<=6:
    print('the fair is 60rs')
else:
    print('the fair is 100rs')

In [ ]:
distance=eval(input('enter the distance in km:'))
if distance>0 and distance<2:
    print('the fair between 0 to 2 km is 20rs')   
elif distance>2 and distance<4:
    print('the fair between 2 to 4 km is 40rs')

In [ ]:
n=eval(input('enter your percentage:'))
if n>90:
    print('your grade is A')
elif n>70:
    print('your grade is B')
elif n>50:
    print('your grade is c')
else:
    print('your grade is D')

# writing another if condition in the same condition

In [ ]:
#method 1
n=eval(input('enter a number:'))

if n>=0:
    if n==0:
        print('it is a pos number')
    else:
        print('it is a zero number')
else:
    prit('it is a negative number')

In [ ]:
#method 2
n=eval(input('enter a number:'))
if n>=0:
    print('it is a positive number')
elif n==0:
    print('it is a zero number')
else:
    print('it is a negative number')

In [ ]:
#method 2
n=eval(input('enter a number:'))
if n>1 and n<99:
    print('the number between 1 and 99')
elif n==0:
    print('zero')
else:
    print('the number is outof range')

In [ ]:
#method 1
n=eval(input('enter a number:'))
if n<99:
    if n==0:
        print('zero')
    elif n<0:
        print('negative number')
    else:
        print('number is between 0 to 99')
else:
    print('out of range')
#<99 positive 
#-99 negative 
#0 zero

In [ ]:
n=(input('enter a genger:'))
if n=='male':
    age=eval(input('enter your age:')) 
    if age<15:
        print('he is a boy')
    else:
        print('he is a man')
if n=='female':
    age=eval(input('enter your age:'))
    if age<15:
        print('she is a girl')
    else:
        print('she is a woman')

In [ ]:
#wap enter 3 numbers and find the greatest number


n=eval(input('enter a numbers:'))
n=eval(input('enter a numbers:'))
n=eval(input('enter a numbers:'))
if n==0:
    print('is smaller number',n)
elif n==1:
    print('{} is greater number',n)
elif n==2:
    print('{} is greater number',n)        
elif n==3:
    print('{} is greater number',n)
else:
    print('it is a outof range',n)

In [ ]:
n1=eval(input('enter a number:'))
n2=eval(input('enter a number:'))
n3=eval(input('enter a number:'))
if n1>n2 and n1>n3:
    print('great number is {}'.format(n1))
elif n2>n3:
    print('greater number is {}'.format(n2))
elif n3>n1:
    print('great number is {}'.format(n3))
else:
    print('enter avalue between ')

#till now what we learned
-python basic syntax
*basic codes
*data types
*print statement
_concept realted to some packages
*how to read the packages
*how to explore the package
*conditional statemnets

# functions

#it is block of code which have set of instructions and can recall multiple times

In [ ]:
#it is a basic code
a=20
b=30
print(a+b)

In [ ]:
def<function_name>():
    #st1
    #st2
    #
    #
    #

In [ ]:
# i want to create a function with name add
def add ():
    a=20
    b=30
    print(a+b)
# if you ru this function it will not return any output 
#until unless u call the function

In [ ]:
add ()

In [ ]:
base_salary=eval(input('enter base salary:'))
DA_amount=eval(input('enter DA amount:'))
total=base_salary+DA_amount
print('the total salary is:',total)

In [ ]:
#we cannot call the keywords or write the keywords
def salary():
    base_salary=eval(input('enter base salary:'))
    DA_amount=eval(input('enter DA amount:'))
    total=base_salary+DA_amount
    print('the total salary is:',total)
#it will not show any error 
#it will not give any output also

In [ ]:
salary ()

In [ ]:
#using def concept for try and exception method
# this code says that it is about even number or odd number

In [ ]:
def even():
    import random
    try:
        n=random.randint(1,100)
        if n%2==0:
            print('{} is a even number'.format(n))
        else:
            print('{} is a odd number'.format(n))
    except Exception as e:
        print(e)

In [ ]:
even ()

In [ ]:
# write a user enter 3 number and calculate average
#implement function
n1=eval(input('enter a number:'))
n2=eval(input('enter a number:'))
n3=eval(input('enter a number:'))
total=round(n1+n2+n3/3)
print('the average of these 3 numbers is',total)

In [ ]:
def average():
    n1=eval(input('enter a number:'))
    n2=eval(input('enter a number:'))
    n3=eval(input('enter a number:'))
    total=round(n1+n2+n3/3)
    print('the average of these 3 numbers is',total)

In [ ]:
average ()

In [ ]:
# WAP ask the user enter bill amount
#enter how much tip you want to pay
#then calculate total bill
#implement function

In [ ]:
n1=eval(input('enter your bill amount:'))
n2=eval(input('enter how munch tip you want to pay:'))
total=n1+n2
print('your total amount is',total)

In [ ]:
#method 1
def tip():
    n1=eval(input('enter your bill amount:'))
    n2=eval(input('enter how munch tip you want to pay:'))
    total=n1+n2
    print('your total amount is',total)

In [ ]:
tip ()

In [ ]:
#method 2
def tip():
    try:
        n1=eval(input('enter your bill amount:'))
        n2=eval(input('enter how munch tip you want to pay:'))
        total=n1+n2
        print('your total amount is',total)
    except Exception as e:
        print(e)

In [ ]:
tip ()

In [ ]:
#WAP prgm ask a user to enter a number
#print if it ia an even number or odd number
#implement a function on this

In [ ]:
def odd():
    num=eval(input('enter a number:'))
    if num%2==0:
        print('it is a even number')
    else:
        print('it is a odd number')

In [ ]:
odd ()

In [ ]:
def odd():
    try:
        num=eval(input('enter a number:'))
        if num%2==0:
            print('it is a even number')
        else:
            print('it is a odd number')  
    except Exception as e:
        print(e)

In [ ]:
odd ()

In [ ]:
# *without arguments()
#not provided anything inside the brackt
#(it is known as without arguments)
# add()  
#bill()
#avg()
#salary()
#odd()

# if we provide any thing inside the brackets
#that are cllaed arguments/parameters

# with argumets

In [ ]:
def add (a,b):
    print(a+b)

add(20,30)    
# here we are wrting the argumnets inside the bracket

In [ ]:
def add (a):
    print(a+b)

add(40)

In [ ]:
def add (a,b): #while initializing u given 2 arguments
    print(a+b)

add(20) #while calling me u provied 1 argument

In [ ]:
def add (b,a):
    print(a+b)

add(40)

In [ ]:
def add (a,b):
    print(a+b)

add(100,40) #a=100 , b=40

In [ ]:
def add (a):
    b=eval(input('enter a number:'))
    print(a+b)

add(100)

In [ ]:
#types of errors
def add (a,b):
    print(a+b)

add()

In [ ]:
def add ():
    print(x+y)

add()

In [ ]:
def salary(base_salary,DA_amount):
    total=base_salary+DA_amount
    print('the total salary is:',total)
salary (500,1000)

In [ ]:
def average(n1,n2,n3):
    total=round(n1+n2+n3/3)
    print('the average of these 3 numbers is',total)
average(2,3,4)

# kernel is busy we can clear it by 
#go to kernel
#restart
#and clear ouput

# types of arguments

- with out aruguments
- with argumnets
- default arguments

# default arguments
in default argument one value will be always fixed

In [ ]:
def average(n1,n2,n3=300):
    total=round(n1+n2+n3/3)
    print('the average of these 3 numbers is',total)

average(2,3)    #a=2, b=3 ,c=300
#fixed means fixes
#which argumnet is fixed i.e called default argument
#here n3 is the default argument

In [ ]:
#1.verification

def average(n1,n2,n3=300):
    print('n1:',n1)
    print('n2:',n2)
    print('n3:',n3)
    total=round(n1+n2+n3/3)
    print('the average of these 3 numbers is',total)

average(2,3,4)    #a=2, b=3 ,c=300  
# initilization is first =======n3=500
#or calling first =======n3=4
#latest value
#calling value will not have any value if we using default argument
#and latest value will always be the number to be enterd in the o/p

In [ ]:
def add(x,y):
    x= 50
    y= 150
    print(x+y)
    
add(20)  #  x first in first out

In [ ]:
def average(n1,n2=2000,n3):
    print('n1:',n1)
    print('n2:',n2)
    print('n3:',n3)
    total=round(n1+n2+n3/3)
    print('the average of these 3 numbers is',total)
average(10,20)

#always default paramters should be provied last

In [ ]:
def average(n1,n3,n2=2000):
    print('n1:',n1)
    print('n2:',n2)
    print('n3:',n3)
    total=round(n1+n2+n3/3)
    print('the average of these 3 numbers is',total)
average(10,20)

#we cannot the write the default value at the first 
#it alwasy should be in the last if not it will show error 
# and the error will be like 
#non-default argument follows default argument

todays work 19-10-2023

In [ ]:
#method -1
n1=eval(input('enter a number:'))
n2=eval(input('enter a number:'))
n3=eval(input('enter a number:'))
ADD1=n1+n2+n3
AVG1=ADD1/3
print('the addition of {},{} and {} is {}'.format(n1,n2,n3,ADD1))
print('the average of {},{} and {} is {}'.format(n1,n2,n3,AVG1))

In [ ]:
#method-2 (without arguments)
def avg_without():
    n1=eval(input('enter a number:'))  #local value
    n2=eval(input('enter a number:'))  #lv
    n3=eval(input('enter a number:'))  #lv
    ADD1=n1+n2+n3
    AVG1=ADD1/3
    print('the addition of {},{} and {} is {}'.format(n1,n2,n3,ADD1))
    print('the average of {},{} and {} is {}'.format(n1,n2,n3,AVG1))
    return(AVG1,ADD1)
    
#st1: no return syntax in your code
#st2: chnage variable name
#st3:this function not returning any thing
#but u want to use AVG11 value outside the function call

In [ ]:
# how many variables are there:5
#n1,n2,n3 are values provides by user
#add and avg is getting by python code

#n1,n2,n3 are inside the function these are known as local variables
#these local varibles u cannot use outside the function untill unless u return the value
#out side the function means global variable
#these out side functions can be used after 1000 also

In [ ]:
avg,add=avg_without()
#this function is return one value,u need to save it

In [ ]:
print(avg,add)

In [ ]:
#method-3 (with arguments)
def avg(n1,n2,n3):
    ADD1=n1+n2+n3
    AVG1=ADD1/3
    print('the addition of {},{} and {} is {}'.format(n1,n2,n3,ADD1))
    print('the average of {},{} and {} is {}'.format(n1,n2,n3,AVG1))
avg(10,20,30)

In [ ]:
#method-4 (default argumnet)
def avg(n1,n2,n3=100):
    ADD1=n1+n2+n3
    AVG1=ADD1/3
    print('the addition of {},{} and {} is {}'.format(n1,n2,n3,ADD1))
    print('the average of {},{} and {} is {}'.format(n1,n2,n3,AVG1))
    
avg(10,20)

In [ ]:
#i want to use avg value in future reference 
#im printing avg value outside the function

print(AVG1)

#the name: AVG is not defined before
#sir i defined inside the function
#handover ===== return
#he is not return , he is just printing the value
#in simple words indide define function will not work for out side function
#if he write the function it will work if not it will not work

In [ ]:
#method-4 (default argumnet)
def avg_default(n1,n2,n3=100):
    ADD1=n1+n2+n3
    AVG1=ADD1/3
    print('the addition of {},{} and {} is {}'.format(n1,n2,n3,ADD1))
    print('the average of {},{} and {} is {}'.format(n1,n2,n3,AVG1))
    return(ADD1,AVG1)
avg_default(10,20)

average=avg_default(n1,n2,n3=100)
print(average)

In [ ]:
def tax_percentage_default(tax_percentage=10):
    salary=eval(input('enter ur salary:'))
    tax_amount=tax_percentage*salary/100
    return(tax_amount)

In [ ]:
tax_amount=tax_percentage_default()
print(tax_amount)

In [ ]:
def math(a,b):
    add=a+b
    sub=a-b
    mul=a*b
    div=a/b
    return(add,sub,mul,div)

In [ ]:
add,sub,mul,div=math(10,20)
print(add,sub,mul,div)

-local variables means inside the functio
-u cannot use out side the function untill unless u return the variable
-global variables are out side functions, it can use inside the function


-define the function
-with out arguments
-with arguments
-default argumnet
-return
-local variable
-global variable

In [ ]:
def average(n1,n2,n3=300):
    total=round(n1+n2+n3/3)
    print('the average of these 3 numbers is',total)
    return(total)

average(20,30)

In [ ]:
total_average=average(20,30)
print(total_average)

In [ ]:
n1=eval(input('enter a number:'))
n2=eval(input('enter a number:'))
n3=eval(input('enter a number:'))

def avg_cal():
    total=n1+n2+n3
    avg=total/3
    return(total,avg)

add, avg=avg_cal()

In [ ]:
print(add, avg)

In [ ]:
#n1=50
#n2=60
#n3=70
#take 3 number and find the greaters number

n1=eval(input('enter the number:'))
n2=eval(input('enter the number:'))
n3=eval(input('enter the number:'))

if n1>n2 and n1>n3:
    print('{} is greates'.format(n1))
elif n2>n3:
    print('{} is greatest'.format(n2))
else:
    print('{} is greatest'.format(n3))
    
    
    
#-define the function

#-with out arguments

#-with arguments

#-default argumnet

#-return

#-local variable

#-global variable

In [ ]:
## without arguments 
n1=eval(input('enter the number:'))
n2=eval(input('enter the number:'))
n3=eval(input('enter the number:'))

def greater_value():
    if n1>n2 and n1>n3:
        print('{} is greates'.format(n1))
        return(n1)
    elif n2>n3:
        print('{} is greatest'.format(n2))
        return(n2)
    else:
        print('{} is greatest'.format(n3))
        return(n3)

greater_value()

In [ ]:
great=greater_value()
print(great)

In [ ]:
# with arguments
def greater_value(n1,n2,n3):
    if n1>n2 and n1>n3:
        print('{} is greates'.format(n1))
        return(n1)
    elif n2>n3:
        print('{} is greatest'.format(n2))
        return(n2)
    else:
        print('{} is greatest'.format(n3))
        return(n3)  

greater_value(30,20,50)

great=greater_value(30,20,50)
print(great)

In [ ]:
# default argument
def greater_value(n1,n2,n3=800):
    if n1>n2 and n1>n3:
        print('{} is greates'.format(n1))
        return(n1)
    elif n2>n3:
        print('{} is greatest'.format(n2))
        return(n2)
    else:
        print('{} is greatest'.format(n3))
        return(n3)  

greater_value(30,20)
great=greater_value(30,20)
print(great)

In [ ]:
def greater_value(n1,n2,n3=800):
    global n1,n2
    if n1>n2 and n1>n3:
        print('{} is greates'.format(n1))
        return(n1)
    elif n2>n3:
        print('{} is greatest'.format(n2))
        return(n2)
    else:
        print('{} is greatest'.format(n3))
        return(n3)  

greater_value(30,20)
great=greater_value(30,20)
print(great)

# global keyword

In [ ]:
a=20

def val():
    a=30
    print('the alue of a:',a)

In [ ]:
val()

In [ ]:
print(a)


#use case: we want to use latest value of a
#my main aime is i want to use a=30 value with out return
#i want to use latest a value i.e 30 outside the function
#local=====global
#u need to convert local variable to global variable
# to convert it weare using global keyword without using return statement

In [ ]:
keyword : global

In [ ]:
a=20 # global varibale

def val():
    global a # it might be local or gloabl it will print the latest value
    a=30  # local variable
    print('the value of a:',a)

In [ ]:
val()

In [ ]:
print(a)

In [ ]:
n1=30   #global variable
def add(n2,n3): #with argument n2 is a parameter
    global n1   #n2 also global
    n1=n2+n3 
    return(n2)


n2=add(30,40)
print(n1)   #70
print(n2)   #30

#i want to use n2 also outside the function call : return

In [ ]:
#bifferece between retrun and global
#parameters(local function) never be a global variable
#that are always inside the function only
#it will never used as global
#parameters canot convert into global variable
#
#

In [ ]:
n1=30   #global variable
def add(n3): #with argument n2 is a parameter
    global n1   #n2 also global
    n2=eval(input('enter a number:')) 
    n1=n2+n3
    return(n2)


n2=add(40)
print(n2)

In [ ]:
n1=30               #global variable
def add(n3):        #with argument n2 is a parameter
    global n1 ,n2   #n2 also global
    n2=eval(input('enter a number:')) 
    n1=n2+n3
    
add(40)
print(n1)  
print(n2)

# parameter error

In [ ]:
#add() takes i positional argument

#it means it takes only one parameter

In [ ]:
bill_amount=1000
def bill(tip_amount=100):
    global total_amount
    total_amount=bill_amount+tip_amount

bill()   
print('total bill is',total_amount)

#  functions in functions

In [ ]:
def hey():
    print('sai')
    print('hello gm')
    print('how do u do')
    
hey()

In [ ]:
def greet():
    print('hello gm')

greet()

In [ ]:
def hey():
    print('sai')
    greet()
    print('how do u do')
    
hey()

In [ ]:
def greet1(name1):
    print('hello',name1)

def greet2(name2):
    print('good morning',name2)
    
def greet3(val):
    print('how much 3+5?',val)
    
def greet4():
    print('i think i dont know')
    
def solve(val,name1,name2,):
    greet3(val)
    greet2(name2)
    greet1(name1) #we can write here also but this isnt the right way
    greet4()
    print('end the story')
    
solve('val','sai','anil')

# val?

In [ ]:
def greet3(val):
    print('how much 3+5?',val)
greet3(val)

In [ ]:
def add(a,b):
    print('the addition is :',a+b)
def sub(a,b):
    print('the subtraction is :',a-b)
def mul(a,b):
    print('the multiplication is :',a*b)
def div(a,b):
    print('the division is :',a/b)
    
def calculator(a,b):
    n=eval(input('enter number between 1 to 4:'))
    if n==1:
        add(a,b)
    elif n==2:
        sub(a,b)
    elif n==3: 
        mul(a,b)
    else:
        div(a,b)

calculator(30,40)

# for loop

In [ ]:
loop is only for the multiple mediums that's y we are using for loop

In [ ]:
for i in range(5):
    print('hello')

In [ ]:
#wap ask the user to get 5 random numbers==== square
import random
num=random.randint(1,100)
total=num*num
print('the square of {} is {}'.format(num,total))

In [ ]:
#wap print the number is even or odd number
#the numbers u need to take from 10 to 40
for i in range(10,40):
    if i%2==0:
        print('{} it is a even number'.format(i))
    else:
        print('{} it is a odd number'.format(i))

In [ ]:
def even_odd():
    try:
        for i in range(10,40):
            if i%2==0:
                print('{} it is a even number'.format(i))
            else:
                print('{} it is a odd number'.format(i))
    except Exceptions as e:
        print(e)
 
even_odd()

#insted of cahnging the numbers inside the code 
#we can provide those as aguments

In [ ]:
def even_odd(start,stop):
    try:
        for i in range(start,stop):
            if i%2==0:
                print('{} it is a even number'.format(i))
            else:
                print('{} it is a odd number'.format(i))
    except Exceptions as e:
        print(e)

even_odd(10,15)

In [ ]:
#global variable
#i want to take take start and stopn from keyboard

start=eval(input('enter start value:'))
stop=eval(input('enter stop value:'))

def even_odd():
    for i in range(start,stop):
        if i%2==0:
            print('{} it is a even number'.format(i))
        else:
            print('{} it is a odd number'.format(i))

even_odd()

In [ ]:
def get_value():
    start=eval(input('enter start value:'))
    stop=eval(input('enter stop value:'))
    return(start,stop)

def even_odd():
    start,stop=get_value()
    for i in range(start,stop):
        if i%2==0:
            print('{} it is a even number'.format(i))
        else:
            print('{} it is a odd number'.format(i))
            
even_odd()

In [ ]:
print('hi')
print('hello')
for i in range(3):
    print('good')
    print('morning')
    
print('bye')

In [ ]:
#wap ask a user get a 10 random numbers b/w 1 to 100 
#and print it is an even or odd number
import random
for n in range (10):
    n=random.randint(1,100)
    if n%2==0:
        print('{} it is a even number'.format(n))
    else:
        print('{} it is a odd number'.format(n))

# guess game

#st 1 get a random number b/w 1 to 20 save this in one function
#st 2 ask the user enter a number
#st 3 if the number 1 ==2 print(y won)
#st 4 otherwise u lost
#st 5 i will give only 3 chances
#evert time ur wrong it show that enter a number
#when u enter the number it will check the condtion

In [ ]:
import random
chances=eval(input('enter the number of chances:'))
for i in range(chances):
    n1=random.randint(1,20)
    print(n1)
    n2=eval(input('entner a number:'))
    if n1==n2:
        print('you won')
        break
    else:
        print('you lost')
        print('you have {} chances'.format(chances-1-i))

if chances-1==i:
    print('your all chances are over better luck next time')

# count prgm

In [ ]:
i=1
i=2
i=3
i=4
i=5
i=6
i=7
i=8
i=9
i=10

In [ ]:
sum1=0
for i in range(1,11):
    print(i)
    sum1=sum1+i
print('the sum of first 10 natural numbers are:',sum1)    
    
#st1:    sum1=0   i=1   new sum1=0+1=1
#st2:    sum1=1   i=2       sum1=1+2=3
#st3:    sum1=2   i=3       sum1=3+3=3

In [ ]:
#wap ask the user to find a number is an even number and odd number b/w i 
#1 to 100
#count the no. of even and odd numbers

In [ ]:
e=0
o=0
for i in range(1,101):
    if i%2==0:
        e=e+1 #we are providing 0 becoz it will count from there if we 
        #provide 1 it will count as 4 even number but we have only 3 even numbers
        #as per count so to avoid that we are writing it as 0
    else:
        o=o+1
print('the total number of even numbers are',e) 
print('the total number of odd numbers are',o)

In [ ]:
#wap ask get a 20 numbers b/w 1 to 100 #20 times
#count the number of values which are greater than 50 and less than 90
#which are between 50 and 90
#you need to get the count b/w 50 to 90

In [ ]:
import random
n=random.randint(1,101)
count=0
for i in range(20):
    if 50<n and n>99:
        count=count+1 
        
print('the total number between 50 to 90',count)

In [ ]:
import random
n

# in operator

In [ ]:
'b' in 'banana'

In [ ]:
name='python'

'p' in name  #t
'y' in name  #t
't' in name  #t
'o' in name  #T
'n' in name  #f

In [ ]:
'py' in name

In [ ]:
'pt' in name

In [ ]:
#generlised expression
#what is vary and what is common

#i in name= generlised loop

In [ ]:
name='python'
for i in name:
    print(i)

In [ ]:
#range=====number
#in=====string
#eval=====number
#input======string

In [ ]:
#wap ask the user enter a your name
#count the number of letter
#f the cunt>5:print(your have lengthy name)
#else:print(you have a small name)

In [ ]:
n=input('enter your name:')
count=0
for i in n:
    count=count+1
    print(count,i)
    
print('total count:',count)

if count>=5:print('it is a lengthy name')
else:print('it is a small name')

In [ ]:
#wap ask the user enter your name: python
#iterate ur name with lopp
#check the coddition if i=='a': count it
#print how namy letter 'a' are there in ur name

In [ ]:
n=input('enter your name:')
count=0
for i in n:
    if i=='a':
        count=count+1
print('a letter in ur name',count)

In [ ]:
n=input('enter yout name:')
count=0
for i in n:
    if i=='a':
        count=count+1
print('the no.of A leeters in your name are',count)

# for loop concept
-range

-in

# ascii

In [ ]:
'a'   #ascii

A=65
a=97

In [ ]:
ord('a')

In [ ]:
#ORD is the keyword for ascii 
#'Apple' >'apple'
#true or flase
#true means 
#a=97
A=65
65>97

In [ ]:
'Apple'>'Bat'

#'A'=65     'B'=66
#if we dont know the value we can apply ord keyword 
#to know the value os the letter

In [ ]:
ord('A'),ord('B')

In [ ]:
'Apple'>'APPLE'

#'A'  'A' is the same value
#'p'=112  'P'=80
#112>80

In [ ]:
ord('p'),ord('P')

In [ ]:
ord('S'),ord('s')

#which word is greater ,to know that we are using
#to know which is greater number we are using this ascii 
#every word have specific number alloted 
#A SCII: American standard code iformation interchanfe

# chr

In [ ]:
chr(65),ord('A')

#it will give oppostie value
#chr keyword
#chr will give the letter and ord will give the correspoding number

In [ ]:
#case-1: use for loop 20 to 200
#ASCII : where it will start
#where it will end

In [ ]:
#output format
#1------>?
#65----->A
#66----->B

In [ ]:
for i in range(33,127):
    print(i,'----->',chr(i))   #st1 1,chr(1)

In [ ]:
for i in ('ABCDEFGHIJKLMNOPQRSTUVWXYZ'):
    print(i,'----->',ord(i))

In [ ]:
for i in ('abcdefghijklmnopqrstuvwxyz'):
    print(i,'----->',ord(i))

In [ ]:
#to aviod this wrting the string that is ABCD.....
#we have a package that is string

# string package

In [ ]:
import string
dir(string)

In [ ]:
string.ascii_letters

In [ ]:
string.ascii_lowercase

In [ ]:
string.ascii_uppercase

In [ ]:
for i in (string.ascii_uppercase):
    print(i,'----->',ord(i))

# while loop

In [ ]:
#it is a open gate function
#this code will go to the infinte loop
#it will never work
#it happens becoz of the condtition
i=0    #intital point


while i>=0:     #based on your i
    print(i,end=' ')
    print('hello')
    
    i=i+1        #=======increment
    
#st 1 i=0             true  0h  i=0+1=1
#st 2 i=1      1>=0   true  1h  i=1+1=2

In [ ]:
i=0    #intital point


while i<=11:     #based on your i
    print(i,end=' ')
    print('hello')
    
    i=i+1        #=======increment

In [ ]:
#first give the initial point
#next while<condition>:
#print what ever you want
#if we go to infinte loop go to square buttuon or restart the kernel

# sample

In [ ]:
for i in range(10):
    print(i,end=' ')
    
#intial point i=0
#incremnt = i+1

In [ ]:
i=0

while i<=10:
    #what ever we write in for loop we will represent it
    print(i,end=' ')
    
    i=i+1

# 1

In [ ]:
for i in range(-1,-11,-1):
    print(i,end=' ')
    
    
#this will show negative point

In [ ]:
i=-1   


while i>=-10:    
    print(i,end=' ')
    
    i=i-1

# 2

In [ ]:
for i in range(-10,0,1):
    print(i,end=' ')

In [ ]:
i=-10    


while i<=-1:    
    print(i,end=' ')
    
    i=i+1

# 3

In [ ]:
for i in range(10,-1,-1):
    print(i,end=' ')

In [ ]:
i=10    


while i>=0:    
    print(i,end=' ')
    
    i=i-1

In [ ]:
i=0
while i>=0:
    print(i,end=' ')
    i=i+1
    if i==10:
        break
        
#if we remove the last two lines it will become an infinte loop

In [ ]:
i=0
while i>=0:
    print(i,end=' ')
    i=i+1
    if i==3:
        break
   
#st1 : i=0    0>=0   t p(0)      i=0+1=1     1==3 f it will not break


#st4 : i=3    3>=0   t p(3)     i=3+1=4      4==3 f it will break

In [ ]:
i=0
while i<=3:
    print(i,end=' ')
    i=i+1                    #right condition

In [ ]:
#while is a open gate function
#inorder to stop this loop we need to apply the condition
i=0

while i<=3:#if we dont know thw conditon
                  #we can consider it as true
    print(i,end=' ')
    i+=1         #can also be writen as i=i+1
    if i==4:
        break   #wrong conditon
    print('hello') 
    print(3+5)   #for 3 hello is not coomin and 8 is not commin
    
    #condition to stop the loop 4==4
        
#st 1 i=o  0>=0  t p(0)  0==3  f

In [ ]:
i=0
while True:
    print(i,end=' ')            #no condition
    i+=1
    if i==4:
        break

In [ ]:
#wap ask the user get 10 random numbers print 
#it is even number or odd number

#first write for loop the implement in while loop

In [ ]:
import random
for i in range(1,10):
    n=random.randint(1,100)
    if n%2==0:
        print('{} is a even number'.format(n))
    else:
        print('{} is a odd number'.format(n))

In [ ]:
import random
i=0
while True:
    n=random.randint(1,100)
    if n%2==0:
        print('{} is a even number'.format(n))
    else:
        print('{} is a odd number'.format(n))
         
    i=i+1
    if i==10:
        break

In [ ]:
#wap ask the user enter a number get a square of the number
#these task u need to do 3 times
#n=eval('enter a number')
#print('the square of {} is {}'.format(n,n*n))

#for loop
#while loop

In [ ]:
for i in range(3):
    n=eval(input('enter the number:'))
    print('the square of {} is {}'.format(n,n*n))

In [ ]:
i=0
while i<=2:
    n=eval(input('enter the number:'))
    print('the square of {} is {}'.format(n,n*n))
    i=i+1

# package name time

In [ ]:
#this package is used for this
#it is used to calculate the time that taekn to calculate this code
#by sub start-end (format)
#start =tiem.time()
#end=time.time()
#it will calculate the time that taken to type ur code

In [ ]:
import time
start=time.time()
for i in range(3):
    n=eval(input('enter the number:'))
    print('the square of {} is {}'.format(n,n*n))
end=time.time()
print('time taken in sec is:',end-start)

In [ ]:
start=time.time
import time
start=time.time()
for i in range(3):
    n=eval(input('enter the number:'))
    print('the square of {} is {}'.format(n,n*n))
end=time.time()
print('time taken in sec is:',end-start)

# time.sleep

In [ ]:
print('hi')
time.sleep(2)
print('hello')
time.sleep(3)
n=eval(input('enter a number:'))


#if u want to delay the time 
#u need to ude this code that 
#time.sleep()
#it is used for the conversations like in chat bots 
#if u want convert into min u need to divide it by 60

In [ ]:
#wap ask the user print some of 10 natural numbers

In [ ]:
sum1=0
for i in range(1,11):
    sum1=sum1+i
sum1

In [ ]:
i=1
sum1=0
while i<=10:
    sum1=sum1+i
    i+=1
print(sum1)

# summary of the basics

In [ ]:
#variables
#print
#data types
#type casting
#end
#input
#packages info
#random,math
#basic codes(2 assig)
#many class room questions
#we learn about conditions if,elif,esle
#try-exception
#functions
#loops
#for range in operator
#ascii
#string package
#while loop

In [ ]:
#wap ask the user enter a password 
#if the password==='python':
#print('you are in')
#else print('you are out')
#u need to provide 3 chances to user 
#if he success first time the loop should stop
#if he fails again u need to display how many chances are left 
#as well as u need the ask the user enter password
#password='python'
#===============unlimited chances till you give the correct password
#while:
#user_pwd=input('enter ped')
#if pwd=user_pwd
#print('you won')
#else:
#print('the pwd is wrong')

In [ ]:
password='python'
i=0
chance=eval(input('enter the number of chances:'))
for i in range(chance):
        user_psw=input('enter password:')
        if password==user_psw:
            print('you won')
            break
        else:
            print('the password is wrong')
            print('you have {} chances left'.format(chance-1-i))
        
        
if chance-1==i:
        print('you have 0 chances better luck next time')

In [ ]:
password='python'
i=0
while True:
    user_psw=input('enter password:')
    if password==user_psw:
        print('you won')
        break
    else:
        print('the password is wrong')

In [ ]:
password='python'
i=0
while i<=3:
    user_psw=input('enter password:')
    if password==user_psw:
        print('you won')
        break
    else:
        print('the password is wrong')
i=i+1

In [ ]:
import random
import time
start=time.time()
n=random.randint(1,10)
print(n)
i=0
while True:
    n1=eval(input('enter the number:'))
    if n==n1:
        print('you got it!!!')
        break
end=time.time()
print('you got this answer in',end-start)

In [ ]:
import random
import time
start=time.time()
n=random.randint(1,10)
print(n)
i=0
while i<=11:
    n1=eval(input('enter the number:'))
    if n==n1:
        print('you got it!!!')
        break
end=time.time()
print('you got this answer in',end-start) 
i=i+1

In [ ]:
#wap
#i want to play a game
#the ticket is 1k rs
#but if we have less than 1k
#ur money is less than 1k u need the get the money from evalet

In [ ]:
n=eval(input('place your money:'))
if n==1000:
    print('Here is your ticket')
    print('Thank you come again!')
else:
    print('you need more moey to but this ticket')
    i=0
    while i<=1000:
        n1=eval(input('place your money:'))
        total=n+n1
        print('you have {}rs'.format(total))
        i=i+1
        if total==1000:
            print('Here is your ticket')
            print('Thank you come again!')
            break

In [ ]:
#syntax
#basic pythn
#condition
#function
#loop



#string
#list
#dic
#tuple
#sets
#file handling

# string

In [ ]:
name='python'
type(name)

In [ ]:
name

In [ ]:
name1='python'
name1

In [ ]:
print(name)

In [ ]:
#doc string:triple quotes
#multilple  lines
#in jupyter:markdown
#vscode
#pycham
#we use doc string to write the story becoz 
#we dont have markdown to write the story

In [ ]:
#to highlight the word 
#the entirestring will be in single code and the highlited in double quotes
#the entirestring will be in double code and the highlited in single quotes

In [ ]:
string1='python'
string2=string1   #python
string3='hello'   
string4=string3   #hello
string4=string1   #python
string4=string2   #python
string4=string4   #python
string5=string4   #python
string5

# operators in string

In [ ]:
-type
-len
-max
-min

In [ ]:
string1='python'
type(string1)

In [ ]:
len(string1)
#p y t h o n

In [ ]:
max(string1)

In [ ]:
min(string1)

In [ ]:
#in operator

In [ ]:
#iterate a loop on string 1
#print each letter
#get the ascii value

In [ ]:
'p' in 'python'
'y' in 'python'
't' in 'python'
'h' in 'python'
'o' in 'python'
'n' in 'python'

In [ ]:
for i in 'python':
    print(i,ord(i))

In [ ]:
string1='hi'
string2='python'

In [ ]:
string1+string2


#string concatination

In [ ]:
string1-string2

#unsupported operand type ERROR
#i cant do str-str meaning of that ERROR

In [ ]:
string1*string2

#non-int type is the error mul
#it can be done by cahnging anyone of the str
#change anyone into int we can do it

In [ ]:
string1/string2

#unsupported operand type
#i cant do division meaning of the ERROR

# quick recall on string

In [ ]:
# how to read the string
# single/double/tripe codes
# triple: docstring
# type
# len
# max
# min
# concatenation(addition of strings)
# index operations
#arthemetic operation
# + ;concatination
# -
# *
# /
# index operations
# how to itratr the letters by using for loop range
# using while loop
# +/- index cobined
# counter prgm
# index of 'a'
# no.of vowles,and unique vowels

In [ ]:
string1='hello'
string2='python'

In [ ]:
2*string1

# indexing

In [ ]:
name='python'
#homw many letters are there:6
#python index start with:0
p  y  t  h  o  n
0  1  2  3  4  5

In [ ]:
name[0]    #'p'
name[1]    #'y'
name[2]    #'t'
name[3]    #'h'
name[4]    #'o'
name[5]    #'n'

name[i]

In [ ]:
for i in range(6):print(i,end=' ')

# how to print any word/sentence by using range method

In [ ]:
for i in range(6):print(name[i]) 
    #iter1:  i=0   name[0]  p
    #iter2   i=1   name[1]  y
    #iter3   i=2   name[2]  t

In [ ]:
name='python'
for i in range(6):
    print(name[i])    #by mistake u print 7  it will show the output but 
                      #then it will show error

# types of error

In [ ]:
#string index out of range is the error this is index error
#

In [ ]:
name1='hello how are you'
print(len(name1))
#i need to provide some number
for i in range(len(name1)):
    print(i,end=' ')

In [ ]:
name1='hello how are you'
print(len(name1))
#i need to provide some number
for i in range(len(name1)):
    print(name1[i],end=' ')
#een space is also consider as a index

In [ ]:
#wap ask the user print the letters from a given word using 
#for loop 
#'the index of p is:0'
#'the indes of y is:1'
#i want letter as well as attached index number

In [ ]:
name2='python'
for i in range(6):
    print('the index of {} is {}'.format(name2[i],i))

In [ ]:
name2='python'
i=0
while i<len(name2):
    print('the index of {} is {}'.format(name2[i],i))
    i=i+1

In [ ]:
#ramper for while loop is
i=0

while<condition>


i+=1

In [ ]:
-6 -5 -4 -3 -2 -1
p  y  t  h  o  n 
0  1  2  3  4  5=========> positive index

In [ ]:
name3='python'
name3[-6]

In [ ]:
#wap ask the user print the letters from a given word using 
#for loop 
#'the negative index of p is:-6'
#the negative index of y is :-5
#i want letter as well as attached index number

In [ ]:
name3='python'
print(len(name3))
for i in range(-6,0):
    print('the index of {} is {}'.format(name3[i],i))

In [ ]:
name2='python'
i=-6
while i<=(-1):
    print('the negative index of {} is {}'.format(name2[i],i))
    i=i+1

In [ ]:
name3='python'
for i in range(-6,0):
    print(i-len(name3))

In [ ]:
name3='python'
for i in range(-6,0):
    print('the index of {} is {}'.format(name3[i],i-len(name3)))

In [ ]:
'the postive index is 0 and negative index is -6 for p'
'the postive index is 1 and negative index is -5 for y'

In [ ]:
name3='python'
for i in range(len(name3)):
    print('the postive index is {} and negative index is {} for {}'.format(i,i-len(name3),name3[i-len(name3)]))

In [ ]:
for i in range(len(name3)):
    print(i,name3[i],i-len(name3))

In [ ]:
sent='hai how are you'
#print how many 'a' are there :3
#count=0
#iterate the letter throuh for loop
#apply if condition letter=='a'
#print the index of 'a' :
#print the no of unique 'a' :1
#print the number of vovel:a e i o u

In [ ]:
sent='hai how are you'
for i in range(len(sent)):
    print(sent[i])
    if sent[i]=='a':
        count=count+1
print('the no.of a are',count)

#st1 :i=0  sent[0]='h'  'h'==a
#st2 :i=1  sent[1]='a'  'a'==a

# letter a index

In [ ]:
sent='hai how are you'
count=0
for i in range(len(sent)):
    if sent[i]=='a':
        count=count+1
        print(i)
print('the no.of a are',count)

# aeiou owles

In [ ]:
sent='hai how are you'
count=0
for i in range(len(sent)):
    if sent[i] in'aeiou':
        count=count+1
        print(i)
print('the no.of a are',count)

In [ ]:
#unique owel

In [ ]:
#take an empty string
#string1=''
#iterate through loop
#if 'h' in 'aeiou':
#    if'a' not in string1
#        string1=string1+'a'#strinf1='a'

In [ ]:
#check two conditon paralley
#the given letter is in 'aeiou'
#if that is true check about same letter it is there in empyt string
#if it is not move to empty string
#if it is there dont move it

In [ ]:
string1='hai hai how are you'
count=0
for i in range(len(string1)):
    if string1[i] in 'aeiou':
        count=count+1
print('no of repeated vowels are:',count)

# interview questions

In [ ]:
#counter 
#index
#aeiou
#mutabiliy and imutability

In [ ]:
#python and pyspark are both languages and 
#they both can run in jupyter note book
#if you learn python u can easly learn pyspark

# mutabiliy and imutability

In [ ]:
string1='python'

In [ ]:
#i want to replace 'p' with 'P'
#mutability and imutability
#based on index operation if you cahnge it or not
#if u change the value by 'index operation' then it is mutable
#if u could not change by 'index operation' then it iscalled as imutable

In [ ]:
string1[0]='P'

# ERRORS

In [ ]:
#'str' object does not support item assignment
#strings are immutable

In [ ]:
list1=[10,20,30]

In [ ]:
list1[0]=100

In [ ]:
print(list1)

In [ ]:
#list are mutable 
#they can be changed

# slicing

In [ ]:
string1='hello how are you'

In [ ]:
#this concept is same as range function in for loop

In [ ]:
string1[0]

In [ ]:
-17-16 -15 -14 -13 -12 -11 -10  -9  -8  -7  -6 -5 -4 -3 -2 -1 
h    e   l   l   o      h   o   w       a   r   e     y  o  u
0    1   2   3   4   5  6   7   8   9  10  11  12  13 14 15 16

In [ ]:
string1[2:10]
#what is the direction:positive
#start=2
#stop=10-1=9

In [ ]:
len(string1)

In [ ]:
string1[2:10]

In [ ]:
string1[1:15:2]
#start=1
#stop=15-1=14
#post:step=2
#1  3  5  7  9  11  13
#e  e     o     r

In [ ]:
string1[1:15:-2]
#start=1
#stop=16
#dir=-ve

In [ ]:
string1[:]       #string(start:stop)
#nothing is mention means 
#positive dir
#start=0
#stop=till last char

In [ ]:
string1[::]          #string1[start:stop:step]
#string[0:last character:1]
#nothing mention at start positio: simply starting the letter
#nothing mentioned at stop position means simply ending of the last letter
#noting mentioned at stped size means it is a positive dir 
#with step value +1

In [ ]:
string1[0:]
string1[:len(string1)]
string1[:]
string1[::]
#all are same answers

In [ ]:
print(string1[0:])
print(string1[:len(string1)])
print(string1[:])
print(string1[::])

In [ ]:
string1[-2:-15:-1]
#start=-2
#dir=-ve
#stop=-15+1=14
#possible

In [ ]:
string1[-15:-2:-1]
#not possible
#we cannot g back to frot

In [ ]:
string1[-15:-2:2]

In [ ]:
-17-16 -15 -14 -13 -12 -11 -10  -9  -8  -7  -6 -5 -4 -3 -2 -1 
h    e   l   l   o      h   o   w       a   r   e     y  o  u
0    1   2   3   4   5  6   7   8   9  10  11  12  13 14 15 16

In [ ]:
string1[8:-15:-1]
#w-l
#it will work

In [ ]:
for i in range(8,-15,-1):print(i,end=' ')

In [ ]:
string1[8:-10:-1]
#possible

In [ ]:
string1[8:-10:-2]
#possible

In [ ]:
string1[-15:8:3]

In [ ]:
#if i want reverse the string
string1[::1]
#postive dir
#start:start
#stop:stop

In [ ]:
string1[::-1]
#neg dir
#start:u
#stop:h

# string methods

In [ ]:
dir('name')

# capitalize

In [ ]:
name='naresh it'

In [ ]:
help(name.capitalize)

In [ ]:
name.capitalize()
#it makes the first character upper case

In [ ]:
name='make it'
name.capitalize()

In [ ]:
#upper case
name='yeah'
help(name.upper)
#it will convert the data into upper case the full data

In [ ]:
name.upper()
#without brackets it will show that it is not a function u need to 
#keep the brackets

In [ ]:
#lower case
name='YeAh'
help(name.lower)

In [ ]:
name.lower()
#it will convert everything into lower case

In [ ]:
name1='YeAh'
print(name1.capitalize())
print(name1.upper())
print(name1.lower())

# casefold

In [ ]:
#casefold
help(name.casefold)

In [ ]:
name1='YeAh'
name.casefold()
#always convert it into small case no matter what the letter are
#it is same as lower case

In [ ]:
string1='hello'
#o/p: string1='Hello' without using string method

# interwie question

In [ ]:
string1='hello'
string2='H'
string3=string1[1:]
string2+string3
#strings are immutable
#use slicing
#concatination

In [ ]:
string='hello hai hoe are you'
import time
start=time.time()
count=0
for i in string:
    if i=='h':
        count+=1
print(count) 
end=time.time()
print(end-start)

In [ ]:
string.count('h')

In [ ]:
#for loop initilization ++ and --
#it is defalut 
#for(start,stop,step:how much u want to pravel which dir u want to travel)
#i while loop we will give those 3 values so it dont have this as default 
#i=0
#while<condition>
#i+1
#this raper is equal to that single line in for loop

In [ ]:
name='python'
for i in name:
    print(i)

for i in range(len(name)):
    print(i,name[i])
#we will provide len becoz name is not a number 
#so to let it work we are using len
#if u slove that 4 questions with in operator
#range in

In [ ]:
#Q1 how many 'a'
#Q2 index of 'a'
#Q3 no.of vowels in a given string
#Q4 unique vowels

In [ ]:
#now we are in the count method

In [ ]:
string1='HAI HAI hai hai'
#how may h are there
#if this method will give 'H' and 'h' combiney

In [ ]:
string1.count('H')
#it is canse sensitive

In [ ]:
string1.count('h')
#capital is capital and small is small only

In [ ]:
#wap convert above string into lowercase and count no.of 'h'
#do by sing string methods and 
#do by usind without string methods (for loop and if condition)

In [ ]:
string1='hai hai hai hai'
string1.lower()
print(string1)
string1.count('h')
# M-2
#we can add both lower and count in the same string
#string.lower().count()
# M-3 
#'HAI HAI hai hai'.lowe().count()
#these two are same
# M-4
#'hai hai hai hai'.count('h')

In [ ]:
string1='HAI HAI hai hai'
count=0
for i in string1:
    #print(i)           # it is equal to H OR h
    #both conditonas are checking at a time
    if i=='h' or i=='H':     #or means any one condition is true
        count=count+1        #end means both the condition should be true
print(count)

In [ ]:
'A'=65+32 ======='a'=97

In [ ]:
ord('A') #32

In [ ]:
string1='HAI HAI hai hai'
count=0
for i in string1:
    if i.lower()=='h':     
        count=count+1        
print(count)        
#==========================================================
string1='HAI HAI hai hai'
count=0
for i in string1.lower():
    if i=='h':     
        count=count+1        
print(count) 
#============================================================
string1='HAI HAI hai hai'
count=0
for i in range(len(string1)):
    if string1[i].lower()=='h':     
        count=count+1        
print(count)

In [ ]:
#if u use range function on string
#use index method
#i u use in operator on string:direct

In [ ]:
string2='ola ola ola ola'
string2.count('ola')
#========================================
tring2='ola ola ola ola'
print(string2.count('ola')) #4
print(string2.count('o'))   #4
print(string2.count('oa')) #0
print(string2.count('ola '))#3

In [ ]:
#if u dont provide bracket for the string method it wont work

In [ ]:
string2='ola ola ola ola'
len(string2)
#i want to know how many 'a' are there after 4th index

In [ ]:
#shift+tab to know about that bracket
string2.count('a',4)
#here 4 means we are counting 'a' from 4th index
#how many 'a' are there b/w 4 to 8th index
string2.count('a',4,9)
#string.count(<char,start_index>)

In [ ]:
#wap by using for loop and if conditions

In [ ]:
#string2[4:].dount('ola')
#count mehtod is internally doing the slicing also
#not required slicig when you apply count method
string2='ola ola ola ola'
count=0
for i in range(len(string2)):
    if i>=4:
        print(string2[i])
#u need to count the number of 'ola' from index 4
#character aswell as number
#in/range            range()
#==================================================
count=0
for i in range(len(string2)-2):        #0 to 12
#at some point we get the error if we use the len directly
#that y we are using -2 to avoid
    if i>=4:
        if string2[i]+string2[i+1]+string2[i+2]=='ola':    #'o'='ola' F
#it never become true beocz we are checking with one 
            count=count+1
print(count)

In [ ]:
i=4 #=========================T
i=5
i=6
i=7
i=8 #=========================T
i=9
i=10
i=11
i=12
string2[i]+string2[i+1]+string2[i+2]
#string2[13]+string2[14]+string2[15]
#it wont work beoz the range is 15 and we are doing it 
#up to 15 it wont work

-case fold
-upper
-lower
-capitalize
-count

# replace keyword

In [ ]:
string1='welcome'
#i want replace 'l' with 'L'

In [ ]:
string1[2]='L'
#strings are immutable

# without keywords method

In [ ]:
#slice + concatination
#wecome===========
#we =string1[:2]
#come= string1[3:]
string1[:2]+'L'+string1[3:]

In [ ]:
#we can apply replace operation
string1.replace('l','L')

In [ ]:
#imput: restart
#output: $estart
#output: resta$t
#what is the drawback 
'restart'.replace('r','$')
#replace will replace all the occurences

In [ ]:
string2='restart'

In [ ]:
print(string2.replace('r','$'))
#if we dont write any number it will convert every 'r' as '$'
#when ever u see / in the function inside 
#then ont provide varibael name
print(string2.replace('r','$',1))
string2[1:]   #'estart'
string2[:1]   #'r'
print(string2[:1]+string2[1:].replace('r','$',1))
print(string2[::-1].replace('r','$',1)[::-1])

In [ ]:
name='apoor'
#'o' with '0'
print(name.replace('o','0'))
print(name.replace('o','0',1))
print(name[::-1].replace('o','0',1)[::-1])

# index

In [ ]:
string1='restart'
#if i want to know
#index of 't
string1.index('t')
string1[string1.index('t')+1:]

In [ ]:
string1='restart how to'
#get the first 't'
f_o=string1.index('t')
s_o=string1.index('t',f_o+1)
t_o=string1.index('t',s_o+1)
#fou_o=string.index('t',t_o+1)
print(f_o,s_o,t_o)

In [ ]:
string1='restart how to'
#t=3 6 12
#what is the idex of first 't':
f_o=string1.index('t')
#index method will provide first occurence
s_o=string1.index('t',string1.index('t')+1)
string1.index('t',s_o+1)

In [ ]:
string1='restart how to'
print(string1.count('t'))
print(string1.index('t'))
#there is no difference between thse two keywords

In [ ]:
print(string1.count('T'))
#0
#print(string1.index('T'))
#sub string not found error
print(string1.replace('TTTT','&'))
#no error
print(string1.find('TTTT'))
#-1

In [ ]:
'python'.replace('z','zzzzzz')  
#no error

# find

In [ ]:
string1='restart how to'
f_o=string1.find('t')
s_o=string1.find('t',f_o+1)
print(s_o)
print(string1.find('t'))

# differnece between index and find

In [ ]:
#the difference between index and find is 
#Raises ValueError when the substring is not found (find index)
#Return -1 on failure (for find)

In [ ]:
- capitalize 

- casefold

- upper

-lower
everyone do almost same task

-count

-replace

-index/find
these 2 are same almost

-split

# split

In [ ]:
string1='hai how are you'
string1.split()
#complex()
#these both dont need any thing in the bracket 
#they will give the answer withput anything in the bracket
#nothing mention means it will take the space

In [ ]:
string2='hai how,are you'
string2.split(',')
#without using the sep operator we can do it
#its like buit in keyword

In [ ]:
var1='hai how'
var2='are you'
print(var1,var2,sep=',')
#the ame thing we are doing with using the sep operator

In [ ]:
string2='hai how are you'
string2.split('a')  #'h' ,'i' how,','re you'

In [ ]:
n='naga sai sri'
n.split('a')

In [ ]:
sent1='rashad.omkar@gmail.com'
#extract oly:omkar
sent1.index('.')
sent1[sent1.index('.')+1:sent1.index('@')]

In [ ]:
sent2='mobin.sourac@uma.com'
sent2.index('@')
print(sent2[sent2.index('@')+1:sent2.index('.',sent2.index('.')+1)])
print(sent2[sent2.index('@')+1:sent2.index('.c')])

In [ ]:
sent2='mobin.sourac@ramesh.com'
sent2[sent2.index('@')+1:sent2.index('.c')]
#this is generalised expresion

In [ ]:
#in more simple format
sent3='sai.sourav@uma.com'
#between '@' and '.' (second)
index1=sent3.index('@')
first_dot_index=sent3.index('.')
sec_dot_index=sent3.index('.',first_dot_index+1)
sent3[index1+1:sec_dot_index]

In [ ]:
sent3[sent3.index('@')+1:sent3.index('.',sent3.index('.')+1)]
#its way more complicated 
#but most of the them use this method

In [ ]:
#lets say all the emails are in the text file
#how to read text file
#first second company name email

# strip, lstrip and rstrip

In [ ]:
str1=' hai how are you '  #strip is the possible way
str2='hai how are you '   #only strip and rstrip
str3=' hai how are you'   #only strip and lstrip
#if you want to remove the spaces we usr the method strip

In [ ]:
#strip means it will remove space from both sides
#lstrip means it will remove left side space
#rstrip meas it will remove right side space

In [ ]:
str1.strip(),str1.lstrip(),str1.rstrip()
print(str1.strip())
print(str1.lstrip())
print(str1.rstrip())
#here print will miss lead you
#so dontuse print statement

In [ ]:
str1.strip(),str1.lstrip(),str1.rstrip()

In [ ]:
str1='&&&&&hello&&&&&&&&&&&&&&&'
print(str1.strip('&'))
#it can remove any value or anything 
#if they are same for both of the sides
#it will remove unequal value also tha is &
print(str1.rstrip('&'))
print(str1.lstrip('&'))

# starts with and ends with

In [ ]:
str1='hai how are you'
str1.startswith('hai')

In [ ]:
str1='sai hai how are you'
str1.startswith('hai')

In [ ]:
str1='sai hai how are you'
str1.startswith('sa')

In [ ]:
str1='sai hai how are you'
str1.startswith('saa')

#endswith

In [ ]:
str1.endswith('you')

In [ ]:
str1.endswith('yo')

In [ ]:
str1.endswith('yoo')

In [ ]:
str1.startswith(str1)  #T
str1.endswith(str1)    #T

# is keywords

In [ ]:
string='1234'

In [ ]:
string.isnumeric()

In [ ]:
string='10.6'
#isnumeric
#isdecimal
#isdigit
#will all be failed

In [ ]:
string.isdecimal()

In [ ]:
string='1234'

In [ ]:
string.isalpha()

In [ ]:
string='sai sri'

In [ ]:
string.islower()

In [ ]:
#any method avaliable to check the float value
#directly using string metho
#if methods will not work direct way
#we need to modify the string

In [ ]:
#interview questions

In [ ]:
# Qin a given sentence what is the most repeated word
# ex: 'hai how are you you hai'
# Qin a given setence what is the max length of the string
# ex: 'hello puthon how are youuuuuuu'
# Qalso what is the min length of the string
# str1='hyd' str2='chennai' str3='mumbai'
# Qwhich is the greatest word
# it is not intemrs of length
# interms of ascii value

# pandas is for data analysis

# how to read?

-type

-len

-max

-min

-concatiantion (add two list)

-subtract two list

-multiply two list

-divide two list

-index

-slice

-mutable

-list method

# list

In [ ]:
list1=[1,2,3,4]
list1
#array of some elements stored in square brackets

In [ ]:
list2=['A','B','C','D']
list2

In [ ]:
list3=['Apple',12345]
list3

In [ ]:
list4=['A',1,2.6,10+30j]
list4

In [ ]:
#heterogeneous means mixture of all elements
#list is hetrogeneous property
#any kind of data type elements we can store in the form of list
#which means duplicates are allowed
#we can duplicate the elements
#list in list also it can take
#list is a keyword and it should not use as variabel

In [ ]:
list5=[100,100,100]
list5

In [ ]:
list6=['a','A']
list6

In [ ]:
list7=['hai how are you']
list7

In [ ]:
list8=[1234,['hai how are you']]
list8

# type

In [ ]:
type(list1)

# len,max,min,sum

In [ ]:
print(list1)
print(len(list1))  #4
print(min(list1))  #1
print(max(list1))  #4
print(sum(list1))

In [ ]:
print(list2)
print(len(list2)) 
print(min(list2))   #based on ascci values  
print(max(list2))   #based on ascci values
print(sum(list2))   #sum operator will only work for numbers only

In [ ]:
print(list3)
print(len(list3)) 
print(max(list3))     
print(min(list3))  
print(sum(list3)) 
#apart from the above 2 it wont work for the rest of them

In [ ]:
print(list4)
print(len(list4)) 
print(min(list4))     
print(max(list4))  
print(sum(list4))

In [ ]:
print(list5)
print(len(list5)) 
print(min(list5))     
print(max(list5))  
print(sum(list5))

In [ ]:
print(list6)
print(len(list6)) 
print(min(list6))     
print(max(list6))  
print(sum(list6))

In [ ]:
print(list7)
print(len(list7)) 
print(min(list7))     
print(max(list7))  
print(sum(list7))

In [ ]:
print(list8)
print(len(list8)) 
#print(min(list8))     
#print(max(list8))  
#print(sum(list8))

# concatination (adding two list)

In [ ]:
print(list1)
print(list2)

In [ ]:
#in odder to do this we need to save in one variable
#if u perfor any operation u need to save this operation
list_con=list1+list2

In [ ]:
list_con

In [ ]:
string1='welcome'
string2=string1.replace('l','L')

In [ ]:
string1,string2

In [ ]:
list1-list2
list1+list2
list1*list2
list1/list2
#everytinh is error

In [ ]:
#multiply string with integer
print(list1)
2*list1
#this means 2 times we will print the list1

# in operator

In [ ]:
list2

In [ ]:
'A' in list2
'B' in list2
'C' in list2
'D' in list2

#gernalize expression means this
#i in list2

In [ ]:
#whenever you are reading in operator
#iterate the loop(for/while) and print the elements

In [ ]:
for i in list2:
    print(i)

In [ ]:
i=A
while i==list2:
    print(i)
i=i+1
#if u want to deal with while 
#we required numbers

In [ ]:
#we can do it with both number and letters
for i in list1:
    print(i)

In [ ]:
#python index start with zero

A B C D
0 1 2 3

In [ ]:
list2[0],list2[1],list2[2],list2[3]

In [ ]:
#print A B C D using for loop
#index method as well as while loop

In [ ]:
for i in list2:
    print(i,end=' ')

In [ ]:
for i in range(len(list2)):
    print(i)

In [ ]:
list2=['A','B','C','D']
i=0
while i<len(list2):
    print(i,list2[i])
    i=i+1

In [ ]:
#=========for/while======
#the positive index of 'A' is 0
#the positive index of 'B' is 1

#the negative index of 'A' is 0
#the negative index of 'B' is 1

#the +ve and -ve 'A' is 0 and -ve is -4

In [ ]:
list2=['A','B','C','D']
for i in range(len(list2)):
    print('the positive index of {} is {}'.format(list2[i],i,len(list2)))

In [ ]:
list2=['A','B','C','D']
for i in range(len(list2)):
    print('the negative index of {} is {}'.format(list2[i],i-len(list2)))

In [ ]:
list2=['A','B','C','D']
for i in range(len(list2)):
    print('the positive index of {} is {} and negative index {}'.format(list2[i],i,i-len(list2)))

In [ ]:
# list is mutable
# string is immutable
list1=[[[[[1,2,3,4]]]]]  #this is the entire one element
#in this entire list we have 1
#if we have any coma in the first bracket this it is considerd as the 
#second element in the list
# retrive the index 4
# what is the index of 4?
list1[0][0][0][0][3]     #[[[[1,2,3,4]]]]
#w will left with one redused bracket as the output

In [ ]:
list2=[[[[['A','B',[1,2,3,['cherry']]]]]]]
print(list2[0])
print(list2[0][0][0][0][2][3][0])
#up to 'A','B'is one element
#and 1,2,3 is one element
#and 'cherry' is one element
#so we got 3 elements in total

In [ ]:
list1=[[1,2,3]]
#print 1,2,3 using for loop

In [ ]:
list1=[[1,2,3]]
for i in range(len(list1)):
    print(list1[0])
    #this means list1 have 0 elements in this 
    #0=1,2,3

# slicing concept in list

In [ ]:
list1=[1,2,3]
list1[0:2:1]

# list slicing method

In [ ]:
list1=['A','B','C','D','E','F',1,2,3,4,5,6,]

In [ ]:
print(list1[2:11:2])
print(list1[2:11:-2])
print(list1[2:-11:2])
print(list1[2:-11:-2])
print(list1[-2:11:2])
print(list1[-2:-11:2])
print(list1[-2:-11:-2])
print(list1[-2:11:-2])

In [ ]:
#wap ask the user print the elements which has length more than 4
#list1=['hyderabad','delhi','chennai','blr']
#output:hyderabad,delhi,chennai

In [29]:
list1=['hyderabad','delhi','chennai','blr']
for i in range(len(list1)):
    if len(list1[i])>=4:
        print(list1[i])
#=====================================

hyderabad
delhi
chennai

In [30]:
list1=['hyderabad','delhi','chennai','blr']
for i in list1:
    if len(i)>=4:
        print(i)

hyderabad
delhi
chennai

In [8]:
#wap ask the user to print the elements which are having 
#'#' inthe element
list1=['hyderabad','delhi','chenna#i','blr']
for i in list1:
    if '#' in i:
        print(i)

chenna#i

In [7]:
#wap ask the user print the elments which are starting with 'H'
list1=['Hyderabad','delhi','chenna#i','blr','Haridwar']
for i in list1:
    if i.lower().startswith('h'):
        print(i)

Hyderabad
Haridwar

In [6]:
list1=['Hyderabad','delhi','chenna#i','blr','Haridwar']
for i in range(len(list1)):
    if list1[i].lower()[0]=='h':
        print(list1[i])

Hyderabad
Haridwar

In [10]:
list1=['omkar.nallagoni@gmail.com',
       'saisri.saga@gmail.com',
       'santosh.kadam@gmail.com']
#print the second name
for i in list1:
    print(i)
    sec_name=i[i.find('.')+1:i.find('@')]
    print(sec_name)

omkar.nallagoni@gmail.com
nallagoni
saisri.saga@gmail.com
saga
santosh.kadam@gmail.com
kadam

In [9]:
'saisri@gmail.com'.find('.')
#to find the index number

12

In [36]:
list1=['omkar.nallagoni@gmail.com',
       'saisri.saga@gmail.com',
       'santosh.kadam@gmail.com']
for i in list1:
    print(i)
    sec_name:i[i.find('.')+1:i.find('@')]
    print(sec_name)
    alter_sec_name=i.split('@')[0].split('.')[1]
    print(alter_sec_name)

omkar.nallagoni@gmail.com
kadam
nallagoni
saisri.saga@gmail.com
kadam
saga
santosh.kadam@gmail.com
kadam
kadam

# append method

In [14]:
list1=[100,200,300]
list1.append(400)
list1

[100, 200, 300, 400]

In [20]:
l1=[]
l1.append([20,30,40])
l1.append('python')
l1
#append method will append the data at last index

[[20, 30, 40], 'python']

In [32]:
#insted of creating we are creating an empty list and we are append it
list1=['Hyderabad','delhi','chenna#i','blr','Haridwar']
city_list=[]
for i in list1:
    if len(i)>=4:
        city_list.append(i)
city_list

['Hyderabad', 'delhi', 'chenna#i', 'Haridwar']

In [42]:
list1=['omkar.nallagoni@gmail.com',
       'saisri.saga@gmail.com',
       'santosh.kadam@gmail.com']
first,second=[],[]
for i in list1:
    first.append(i.split('.')[0])
    second.appned(i[i.find('.')+1:i.find('@')])
return(first,second)

AttributeError: 'list' object has no attribute 'appned'

In [ ]:
#wap ask the user to get 10 random numbers between 10 to 50
#get the even and odd number form those 10 random numbers

#take two empty list: even and odd
#sace the resrults in evan and odd

In [57]:
import random
even,odd=[],[]
for i in range(10):
    n=random.randint(1,50)
    if n%2==0:
        even.append(n)
    else:
        odd.append(n)  
even 
odd

[37, 37, 33, 25]

In [ ]:
#list comprehenshion

In [59]:
list1=['hyderabad','delhi','chennai','blr']
city_list=[]
for i in list1:
    if len(i)>=4:
        city_list.append(i)
city_list 

#start: you have taken an empyt list
#end: append the results

output=[i for i in list1 if len(i)>=4]
output

#[<output> <for loop> <if condition>]

['hyderabad', 'delhi', 'chennai']

In [65]:
list1=['hyderabad','delhi','chenna#i','blr']
city_list=[]
for i in list1:
    if '#' in i:
           city_list.append(i)
output1=[i for i in list1 if '#' in i ] 
output1

['chenna#i']

In [75]:
even_odd=[]
for i in range(10):
    if i%2==0:
        even_odd.append('even:{}'.format(i))
    else:
        even_odd.append('odd:{}'.format(i))
even_odd        
        
output3=['even:{}'.format(i) if i%2==0 else 'odd:{}'.format(i) for i in range(10)]
output3

['even:0',
 'odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9']

In [ ]:
[<output> <for loop> <if condition>]  #it goes with if condition

[<if output> <if_con> <else_op> <for>] #it goes with if else conditon